<div class="container">
  <br />
  <h2>View All Appointments</h2>
  <hr />
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col" class="h1">Sl NO</th>
          <th scope="col" class="h2">Name</th>
          <th scope="col" class="h3">Address</th>
          <th scope="col" class="h4">City</th>
          <th scope="col" class="h5">Package</th>
          <th scope="col" class="h6">Trainer Preference</th>
          <th scope="col" class="h7">Phone</th>
          <td></td>
        </tr>
      </thead>
      <tbody *ngIf="users?.length > 0">
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.firstname }} {{ user.lastname }}</td>
          <td>{{ user.streetaddress }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.packages }}</td>
          <td>{{ user.trainerpreference }}</td>
          <td>{{ user.phonenumber }}</td>

          <td>
            <button
              (click)="editAppointment(user.id)"
              type="button"
              name="edit"
              id="edit"
              class="badge badge-pill badge-info"
              style="padding: 10px;"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              type="button"
              class="badge badge-pill badge-danger"
              style="padding: 10px;"
              (click)="deleteAppointment(user.id)"
              data-dismiss="modal"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete appointment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once delete it can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteAppointment(user.id)"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
